<!DOCTYPE html>
<html>
  <head>
    <title>OrangeJuiceTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <h1><span class="main-title">HelpJuice</span><span class="sub-title">Test</span></h1>
        <% if @current_user %>
          <%=  button_to "Logout", logout_path, method: :delete, class: 'logout'  %>
        <%  end %>
      </div>
      <%= render "layouts/alert" %>
      <%= yield %>
    </div>
  </body>
</html>
